.normal {
  width: 100%;
  background: #f7f7f7;
  text-align: center;
  color: #333;
  font-size: 1.75rem;
  padding: 2rem 0;
}

.px0 {
  padding-left: 0;
  padding-right: 0;
}

.mx0 {
  margin-left: 0;
  margin-right: 0;
}
